/* This defines styles and classes used in the book */
body { margin: 4%; font-size: medium; width: 92%; }
img { float: left; margin: 4%; }
p { text-align: justify; text-indent: 1em; float: none; }
code { font-family: monospace; }
h1 { text-align: left; }
h2 { text-align: left; page-break-before: always; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { color: red; font-family: monospace; }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }

/* https://friendsofepub.github.io/eBookTricks/ */
element {
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
}
